<div class="container h-100">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-10 col-md-8 col-lg-6">
      <!-- Form -->
      <form class="form-example" action="" method="post">
        <h1>Weather APP</h1>
        <p class="description">
          An app that fetches data from an API and visualizes it using Chart.js.
        </p>
        <!-- Input fields -->
        <div class="form-group">
          <label for="username">Select Location:</label>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01"
                >Options</label
              >
            </div>
            <select
              class="custom-select"
              id="inputGroupSelect01"
              #mySelect
              style="width: 30vw"
            >
              <option selected>Choose</option>
              <option value="TOP">Kansas Forecast</option>
              <option value="LWX">District of Columbia Forecast</option>
            </select>
          </div>
        </div>

        <button
          (click)="getSelectedValue(mySelect.value)"
          type="submit"
          class="btn btn-primary btn-customized"
        >
          Get Weather Details
        </button>
        <!-- End input fields -->
      </form>
      <!-- Form end -->
    </div>
  </div>
</div>
